 <% provide(:title,"Home")%>


      <div class="jumbotron">
        <h1>Welcome!</h1>
        <p class="lead">This is a place where you can share everything you want with 292</p>
        <p> <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-success" %></p>
      </div>


 <p>
This is the home page for the
<a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a> sample application.
</p> 