@import "bootstrap-sprockets";
@import "bootstrap";


.microposts { list-style: none; padding: 0;
li {
padding: 10px 0;
border-top: 1px solid #e8e8e8; }
.user { margin-top: 5em; padding-top: 0;
}
.content {
display: block; margin-left: 60px; img {
          display: block;
padding: 5px 0;
font-size: 18px;}
}
.timestamp {
color: $gray-light; display: block; margin-left: 60px;
font-size: 10px;
}
.gravatar {
float: left; margin-right: 10px; margin-top: 5px;
} }
aside { textarea {
height: 100px;
margin-bottom: 5px; }
}
span.picture { margin-top: 10px; input {
border: 0; }
}


.delete{

  margin-left: 2px;
  color:red;

  &hover{
    color:blue;
  }
}



/* user index*/
.users{
  list-style: none;
  margin:0;
  li{
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.checkbox{
  margin-top: -10px;
  margin-bottom: 10px;
  span{
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me{
  width: auto;
  margin-left: 0;
}


#error_explanation{
  color: red;
  ul{
  color:red;
  margin: 0 0 30px 0;
  }
}

.fled_with_errors{

  @extend .has-error;
  .form-control{
  color: $state-danger-text;
  }
}

/*form*/
input, textarea, select, .uneditable-input
{ border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
    }

input {
height: auto !important;
}




/*sidebar*/
aside{
  section.user_info{
    margin-top: 20px;
  }
  section{
    padding: 10px 0;
    margin-top: 20px;
    &:first-child{
      border:0;
      padding-top: 0;
    }
    span{
      display: block;
      margin-bottom: 3px;
      line-height: 1;

    }
    h1{
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar{
  float: left;
  margin-right: 10px;

}
.gravatar_edit{
  margin-top: 15px;
}

/* what is @mixin? */
@mixin box_sizing
{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing:border-box;
}

.debug_dump{
  clear:both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}



/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
